@use "../node_modules/@linwooddev/style/scss/main.scss";
@use "sass:map";

input {
  font-family: inherit;
}

button, .btn {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: map-get(main.$spacing, 'xs');
}
