@use "../node_modules/@linwooddev/style/scss/main.scss";
@use "sass:map";

.sidebar-layout {
  display: flex;
  height: 100%;
  gap: 4px;
  flex-direction: column;
}
@container (min-width: #{map.get(main.$breakpoints,'sm')}) {
  .sidebar-layout {
    flex-direction: row;
    align-items: stretch;
  }
}

.no-overflow {
  overflow: hidden;
}

.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
