@use '../node_modules/@linwooddev/style/scss/main.scss';

.sidebar-layout {
  display: flex;
  height: 100%;
  gap: 4px;
  flex-direction: column;
}
@container (min-width: 600px) {
  .sidebar-layout {
    flex-direction: row;
  }
}
@each $breakpoint, $value in main.$breakpoints {
  @container (max-width: #{$value}) {
    .show-#{$breakpoint} {
      display: none;
    }
  }
}
@each $breakpoint, $value in main.$breakpoints {
  .show-#{$breakpoint} {
    display: $value;
  }
}

@each $breakpoint, $value in main.$sizing {
  .min-w-#{$breakpoint} {
    min-width: $value;
  }
}
